In [1]:
a=-222
type(a)

int

In [3]:
b=-4,55
type(b)

tuple

In [4]:
s='ok'
type(s)

str

In [6]:
d='999'
type(d)

str

In [7]:
1==2

False

In [8]:
1<2

True

In [9]:
import pandas as pd

In [10]:
df=pd.read_csv('heart_cleveland_upload.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        297 non-null    int64
 1   gender     297 non-null    int64
 2   cp         297 non-null    int64
 3   trestbps   297 non-null    int64
 4   chol       297 non-null    int64
 5   fbs        297 non-null    int64
 6   restecg    297 non-null    int64
 7   thalach    297 non-null    int64
 8   exang      297 non-null    int64
 9   oldpeak    297 non-null    float64
 10  slope      297 non-null    int64
 11  ca         297 non-null    int64
 12  thal       297 non-null    int64
 13  condition  297 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 32.6 KB

In [12]:
df.isnull().sum()

age          0
gender       0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
condition    0
dtype: int64

In [13]:
df.head(20)

,age,gender,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0
5,64,1,0,170,227,0,2,155,0,0.6,1,0,2,0
6,63,1,0,145,233,1,2,150,0,2.3,2,0,1,0
7,61,1,0,134,234,0,0,145,0,2.6,1,2,0,1
8,60,0,0,150,240,0,0,171,0,0.9,0,0,0,0
9,59,1,0,178,270,0,2,145,0,4.2,2,0,2,0
10,59,1,0,170,288,0,2,159,0,0.2,1,0,2,1
11,59,1,0,160,273,0,2,125,0,0.0,0,0,0,1
12,59,1,0,134,204,0,0,162,0,0.8,0,2,0,1
13,58,0,0,150,283,1,2,162,0,1.0,0,0,0,0
14,56,1,0,120,193,0,2,162,0,1.9,1,0,2,0
15,52,1,0,118,186,0,2,190,0,0.0,1,0,1,0
16,52,1,0,152,298,1,0,178,0,1.2,1,0,2,0
17,51,1,0,125,213,0,2,125,1,1.4,0,1,0,0
18,45,1,0,110,264,0,0,132,0,1.2,1,0,2,1
19,42,1,0,148,244,0,2,178,0,0.8,0,2,0,0

In [14]:
df.tail(20)

,age,gender,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
277,45,1,3,142,309,0,2,147,1,0.0,1,3,2,1
278,45,1,3,115,260,0,2,185,0,0.0,0,0,0,0
279,44,1,3,120,169,0,0,144,1,2.8,2,0,1,1
280,44,1,3,112,290,0,2,153,0,0.0,0,1,0,1
281,44,1,3,110,197,0,2,177,0,0.0,0,1,0,1
282,43,1,3,120,177,0,2,120,1,2.5,1,0,2,1
283,43,0,3,132,341,1,2,136,1,3.0,1,0,2,1
284,43,1,3,115,303,0,0,181,0,1.2,1,0,0,0
285,43,1,3,150,247,0,0,171,0,1.5,0,0,0,0
286,43,1,3,110,211,0,0,161,0,0.0,0,0,2,0
287,42,0,3,102,265,0,2,122,0,0.6,1,0,0,0
288,42,1,3,136,315,0,0,125,1,1.8,1,0,1,1
289,42,1,3,140,226,0,0,178,0,0.0,0,0,0,0
290,41,1,3,110,172,0,2,158,0,0.0,0,0,2,1
291,40,1,3,110,167,0,2,114,1,2.0,1,0,2,1
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2,1
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2,1
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2,1
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2,1