In [76]:
y_actual=[3,5,6,7,8]
y_pred=[3,4,5,7,8]

In [77]:
from sklearn.metrics import r2_score,mean_absolute_error,root_mean_squared_error

In [78]:
r2=r2_score(y_pred,y_actual)
mse=mean_absolute_error(y_pred,y_actual)
rmse=root_mean_squared_error(y_pred,y_actual)
mae=mean_absolute_error(y_pred,y_actual)

In [79]:
print(r2)
print(mse)
print(rmse)
print(mae)

0.8837209302325582
0.4
0.6324555320336759
0.4

In [90]:
import pandas as pd
df=pd.read_csv("IMDB_Movies_Dataset (2).csv")

In [81]:
df.head()

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",NaN,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,NaN,"$3,513,659",2 hours 25 minutes
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",2 hours 55 minutes
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",NaN,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,NaN,NaN,1 hour 25 minutes
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",NaN,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,NaN,NaN,2 hours 15 minutes

In [82]:
def clean(df):
    for col in df.columns:
        if df[col].isnull().any():
            if df[col].dtype=='object':
                df[col].fillna(df[col].mode()[0],inplace=True)
            else:
                df[col].fillna(df[col].mean(),inplace=True)
    return df

In [83]:
clean(df)

C:\Users\user\AppData\Local\Temp\ipykernel_9368\1924034062.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0],inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_9368\1924034062.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.000000,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",74.684452,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,"$15,000,000 (estimated)","$3,513,659",2 hours 25 minutes
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.000000,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",2 hours 55 minutes
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",74.684452,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,"$15,000,000 (estimated)",$509,1 hour 25 minutes
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",74.684452,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,"$15,000,000 (estimated)",$509,2 hours 15 minutes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4984,495,La comunidad,7.2,Álex de la Iglesia,"Jorge Guerricaechevarría, Álex de la Iglesia",74.684452,"Carmen Maura, Eduardo Antuña, María Asquerino,...","September 29, 2000 (Spain)",Spain,Spanish,"€4,000,000 (estimated)","$290,754",1 hour 50 minutes
4985,496,The House of Fear,7.2,Roy William Neill,"Roy Chanslor, Arthur Conan Doyle",74.684452,"Basil Rathbone, Nigel Bruce, Aubrey Mather, De...","March 16, 1945 (United States)",United States,English,"$15,000,000 (estimated)",$509,1 hour 9 minutes
4986,497,Kurôzu zero II,7.2,Takashi Miike,"Hiroshi Takahashi, Shôgo Mutô",74.684452,"Shun Oguri, Kyôsuke Yabe, Meisa Kuroki, Kenta ...","April 11, 2009 (Japan)",Japan,Japanese,"$15,000,000 (estimated)","$29,893,636",2 hours 13 minutes
4987,498,La cage dorée,7.2,Ruben Alves,"Ruben Alves, Luc-Olivier Veuve, Jean-André Yerlès",74.684452,"Rita Blanco, Joaquim de Almeida, Roland Giraud...","April 24, 2013 (France)",France,"French, Portuguese, English","€7,000,000 (estimated)","$17,871,370",1 hour 30 minutes
4988,499,Chingoo,7.2,Kwak Kyung-taek,Kwak Kyung-taek,74.684452,"Yu Oh-seong, Jang Dong-gun, Seo Tae-hwa, Un-ta...","March 31, 2001 (South Korea)",South Korea,Korean,"$15,000,000 (estimated)","$550,031",1 hour 53 minutes

In [84]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

def encodla(df):
    encoder = LabelEncoder()

    for col in df.columns.to_list(): 
        if df[col].dtype == 'object':
            if df[col].nunique() <= 6:
                dummies = pd.get_dummies(df[col], prefix=col, dtype=int)
                df.drop(columns=[col], inplace=True)
                df[dummies.columns] = dummies
            else:
                df[col] = encoder.fit_transform(df[col].astype(str))
    
    return df

In [85]:
df=encodla

In [86]:
from sklearn.preprocessing import MinMaxScaler

In [87]:
scaler=MinMaxScaler

In [88]:
def scale(df):
    for col in df.columns:
        if [col].dtype=='object':
            df[col]=scaler.fit_transform(df[col])
    return df

In [89]:
scale(df)

AttributeError: 'function' object has no attribute 'columns'

In [ ]:
x=df.drop('Runtime',axis=1)

In [ ]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Average Rating          0
Director                0
Writer                  1
Metascore            1934
Cast                    7
Release Date            0
Country of Origin       3
Languages              21
Budget               2338
Worldwide Gross      1094
Runtime                 0
dtype: int64

In [ ]:
clean(df)

C:\Users\user\AppData\Local\Temp\ipykernel_9368\1924034062.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0],inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_9368\1924034062.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.000000,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",74.684452,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,"$15,000,000 (estimated)","$3,513,659",2 hours 25 minutes
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.000000,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",2 hours 55 minutes
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",74.684452,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,"$15,000,000 (estimated)",$509,1 hour 25 minutes
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",74.684452,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,"$15,000,000 (estimated)",$509,2 hours 15 minutes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4984,495,La comunidad,7.2,Álex de la Iglesia,"Jorge Guerricaechevarría, Álex de la Iglesia",74.684452,"Carmen Maura, Eduardo Antuña, María Asquerino,...","September 29, 2000 (Spain)",Spain,Spanish,"€4,000,000 (estimated)","$290,754",1 hour 50 minutes
4985,496,The House of Fear,7.2,Roy William Neill,"Roy Chanslor, Arthur Conan Doyle",74.684452,"Basil Rathbone, Nigel Bruce, Aubrey Mather, De...","March 16, 1945 (United States)",United States,English,"$15,000,000 (estimated)",$509,1 hour 9 minutes
4986,497,Kurôzu zero II,7.2,Takashi Miike,"Hiroshi Takahashi, Shôgo Mutô",74.684452,"Shun Oguri, Kyôsuke Yabe, Meisa Kuroki, Kenta ...","April 11, 2009 (Japan)",Japan,Japanese,"$15,000,000 (estimated)","$29,893,636",2 hours 13 minutes
4987,498,La cage dorée,7.2,Ruben Alves,"Ruben Alves, Luc-Olivier Veuve, Jean-André Yerlès",74.684452,"Rita Blanco, Joaquim de Almeida, Roland Giraud...","April 24, 2013 (France)",France,"French, Portuguese, English","€7,000,000 (estimated)","$17,871,370",1 hour 30 minutes
4988,499,Chingoo,7.2,Kwak Kyung-taek,Kwak Kyung-taek,74.684452,"Yu Oh-seong, Jang Dong-gun, Seo Tae-hwa, Un-ta...","March 31, 2001 (South Korea)",South Korea,Korean,"$15,000,000 (estimated)","$550,031",1 hour 53 minutes

In [ ]:
encodla(df)

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,4288,9.3,711,3851,82.000000,4504,3606,678,87,214,1799,74
1,1,373,9.3,2620,2884,74.684452,3367,3504,384,801,120,1913,77
2,2,3939,9.2,703,2592,100.000000,3002,17,678,317,360,1658,110
3,3,1504,9.2,661,4123,74.684452,3312,47,568,1064,120,2823,18
4,4,3083,9.2,1962,3286,74.684452,396,4337,303,87,120,2823,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4984,495,2092,7.2,2635,2107,74.684452,719,4397,501,999,773,1816,46
4985,496,3988,7.2,2111,3508,74.684452,478,2502,678,87,120,2823,58
4986,497,2037,7.2,2356,1583,74.684452,4190,80,384,801,120,1813,64
4987,498,2089,7.2,2112,3512,74.684452,3826,241,145,624,798,1002,24
4988,499,790,7.2,1358,2330,74.684452,4921,2715,490,827,120,2919,49

In [ ]:
df.isnull().sum()

Unnamed: 0           0
Title                0
Average Rating       0
Director             0
Writer               0
Metascore            0
Cast                 0
Release Date         0
Country of Origin    0
Languages            0
Budget               0
Worldwide Gross      0
Runtime              0
dtype: int64

In [94]:
x=df.drop('Worlwide Gross',axis=1)

KeyError: "['Worlwide Gross'] not found in axis"

In [93]:
y=['Worldwide Gross']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [4989, 1]

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr=LinearRegression

In [ ]:
lr

sklearn.linear_model._base.LinearRegression

In [ ]:
lr.fit(x_train,y_train)

NameError: name 'x_train' is not defined

In [92]:
y_pred=lr.predict(x_test)

NameError: name 'x_test' is not defined